.row
  ul(class="nav nav-pills pull-left")
    li
      a(href="/panel") Dashboard
    li
      a(href="/panel/perfil") Editar mi perfil
    li
      a(href="/panel/noticias") Noticias
    li
      a(href="/panel/noticias/new") Nueva noticia